{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Combiner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>
{% csrf_token %}
<body>
    <section hidden>
        <canvas id="image_canvas_1"></canvas>
        <canvas id="image_canvas_2"></canvas>
        <canvas id="result_canvas"></canvas>
    </section>
    <div align="center">
        <input type="file" class="ImageInput" name="" id="image_input_1" placeholder="Image 1">
        <input type="file" class="ImageInput" name="" id="image_input_2" placeholder="Image 2">
        <p style="color: white; margin-top: 15px;">
            Vertical  : <input type="checkbox" name="" id="vertical" style="margin: auto; margin-right: 10px">
            Adapt Big : <input type="checkbox" name="" id="adapt_big">
        </p>
        <canvas width="640" height="360" id="preview_canvas"></canvas>
        <br>
        <button class="btn btn-primary" id="combine">Combine</button>
        <button class="btn btn-primary" id="reset">Reset</button>
        <section hidden=true id="link_section" style="margin-top: 25px;" >
            <a href="">Download Image</a>
        </section>
    </div>
    <script src="{% static 'combiner.js' %}"></script>
</body>
</html>