body{
    background-image: url("BG.jpg");
    background-position:left top;
    background-size: 100%;
}

.ImageInput{
    margin: auto;
    margin-top: 25px;
    background-color: lightgrey;
    width: 20%;
}

.btn{
    width: 15%;
}

#preview_canvas{
    background-color: lightgrey;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#reset{
    background-color: orange;
    border: 2px solid orange;
}